doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/foundation.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			div.row
				div.small-12.large-12.columns
					h1.left 
						a(href='/', title='WebRTC Chat') Video Debate
					a.right(href='/auth/facebook', title='Sign in with Facebook') Sign in with Facebook
		
		#main
			block content

		//- script(type='text/x-handlebars', data-template-name='rooms')
		//- 	div.row
		//- 		div.small-9.large-9.columns
		//- 			section.module
		//- 				.module-header
		//- 					| All rooms
		//- 				.module-body
		//- 					ul#room-list
		//- 						| {{#each}}
		//- 						li 
		//- 							div.small-9.large-9.columns
		//- 								span.name {{ name }}
		//- 							div.small-3.large-3.columns
		//- 								div.join-now
		//- 									| Join Now
		//- 						| {{/each}}

	

		script(src='/socket.io/socket.io.js')
		script(src='javascripts/vendor/jquery-2.0.3.js', type='text/javascript')
		script(src='javascripts/vendor/handlebars-1.0.0.js', type='text/javascript')
		script(src='javascripts/vendor/ember-1.0.0.js', type='text/javascript')
		script(src='javascripts/vendor/ember-data-1.0.0-beta.3.js', type='text/javascript')
		script(src='javascripts/app.js', type='text/javascript')
		script(src='javascripts/router.js', type='text/javascript')
		script(src='javascripts/models/room.js', type='text/javascript')
		script(src='javascripts/main_room.js', type='text/javascript')


