doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    video(width='320', height='240')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/app.js', type='text/javascript')